- page_title!('Editando distrito')

#region-distritos.container

  .region
    .region-title
      %h1
        Editando
        %b
          distrito

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @distrito, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
