- page_title!('Editando numero_factura')

#region-numero_facturas.container

  .region
    .region-title
      %h1
        Editando
        %b
          numero_factura

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @numero_factura, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
