- page_title!('Editando numero_factura')

#region-numero_facturas.container

  .region
    .region-title
      %h1
        Editando
        %b
          numero_factura

  .region
    = render 'form'

      
