.page-header
  %h1 
    Principal
    %b Numero Factura


.table-responsive
  %table.table
    %tr
      %th Numero
      %th Acciones      

    - @numero_facturas.each do |numero_factura|
      %tr
        %td= numero_factura.numero
        %td
          = link_to 'Ver', numero_factura, class: 'btn btn-info'        
          = link_to 'Editar', edit_numero_factura_path(numero_factura), class: 'btn btn-success'