#region-numero_facturas.container
  .region
    .region-title
      %h1= page_title!('numero_factura')

  .region
    %p
      %b Numero:
      = @numero_factura.numero

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_numero_factura_path(@numero_factura), class: 'btn btn-success'
    = link_to 'Regresar', numero_facturas_path, class: 'btn btn-warning'
