.page-header
  %h1 
    Ver
    %b Numero Factura


%p
  %b Numero:
  = @numero_factura.numero

.admin-controls
  = link_to 'Editar', edit_numero_factura_path(@numero_factura), class: 'btn btn-success'
  = link_to 'Regresar', numero_facturas_path, class: 'btn btn-warning'
