- page_title!('Creando placa')

#region-placas.container

  .region
    .region-title
      %h1
        Creando
        %b
          placa

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
