- page_title!('Editando numero_guia')

#region-numero_guias.container

  .region
    .region-title
      %h1
        Editando
        %b
          numero_guia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @numero_guia, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
