.page-header
  %h1
    Principal
    %b Numero Guias


.table-responsive
  %table.table
    %tr
      %th Numero
      %th Acciones

    - @numero_guias.each do |numero_guia|
      %tr
        %td= numero_guia.numero
        %td         
          = link_to 'Editar', edit_numero_guia_path(numero_guia), class: 'btn btn-success'