- page_title!('Creando numero_guia')

#region-numero_guias.container

  .region
    .region-title
      %h1
        Creando
        %b
          numero_guia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
