.page-header
  %h1 
    Ver
    %b Numero de Guia

%p
  %b Numero:
  = @numero_guia.numero

.admin-controls
  = link_to 'Editar', edit_numero_guia_path(@numero_guia), class: 'btn btn-success'
  = link_to 'Regresar', numero_guias_path, class: 'btn btn-warning'
